@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");
@import url("https://fonts.googleapis.com/css?family=Calistoga");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0px 0 5px 0px;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    padding: 0;
    margin: 0;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transition: all 0.5s ease-out;
    transform: translate3d(0, 100%, 0); }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/profile_md.jpg");
      border-color: #f38654;
      border-radius: 50%;
      background-size: cover;
      border-style: solid; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #f38654; }
    .menu .nav-item:hover {
      background-color: #2b2b2b;
      cursor: pointer;
      transition: all 0.5s ease-out; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #f38654; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

@media screen and (max-width: 768px) {
  main#home .sm-heading {
    text-align: center;
    padding-left: 0; }
  main#home .container h2 {
    padding-left: 0;
    text-align: center; }
  main#home .divider {
    padding-left: 0; } }

* {
  box-sizing: border-box;
  font-weight: 400; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/bg_main.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.6); }

.lg-heading {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 4rem;
  padding: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700; }
  .lg-heading span {
    color: #f38654;
    font-weight: 700;
    font-family: "Raleway", sans-serif; }

.divider {
  margin-bottom: 1.5rem;
  padding-left: 28rem; }
  .divider .divider-inside {
    border-top: solid;
    border-width: 1px;
    width: 350px;
    color: #676767; }

.sm-para {
  text-align: center;
  font-weight: 400;
  font-family: "Space Mono", cursive, sans-serif;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  line-height: 1.7; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #f38654; }

main {
  padding: 1rem;
  padding-right: 4rem;
  height: 100%; }
  main .lg-icons {
    margin-top: 2rem;
    text-align: center; }
    main .lg-icons a {
      margin: 2rem;
      margin-bottom: 0;
      margin-top: 1rem; }
      main .lg-icons a:hover {
        color: aqua;
        transition: all 0.5s ease-out; }
      main .lg-icons a i {
        margin-bottom: 0;
        text-align: center;
        padding: 0px;
        font-size: 1.5rem;
        color: #fff; }
    main .lg-icons .fa-folder-open-o:hover {
      color: #f38654;
      transition: all 0.5s ease-out; }
    main .lg-icons .fa-file-pdf-o:hover {
      color: #f38654;
      transition: all 0.5s ease-out; }
    main .lg-icons .fa-weixin {
      font-size: 1.5rem;
      margin: 0;
      padding: 0rem; }
      main .lg-icons .fa-weixin:hover {
        color: #f38654;
        transition: all 0.5s ease-out; }
  main .lg-icons-name {
    margin-top: 3px;
    text-align: center; }
    main .lg-icons-name span {
      margin: 1rem;
      color: #fff;
      font-size: 15px; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main .sm-heading {
    margin-top: 0;
    padding: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-left: 3rem;
    font-size: 1.7rem;
    padding-left: 28rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 0 3rem; }
  .container h2 {
    font-weight: 500;
    margin: 0.8rem;
    font-size: 1.1rem;
    font-family: "Space Mono", cursive, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px; }

.txt-type > .txt {
  border-right: 0.2rem solid #373737;
  color: #f38654; }

.copyright {
  margin-top: 2.3rem;
  margin-bottom: 0; }
  .copyright h3 {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: 0.5rem;
    padding: 0; }

#bg-resume {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background-image: url(../img/bg_resume_2.jpg);
  background-attachment: fixed;
  background-size: cover; }
  #bg-resume:after {
    content: "";
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(145, 135, 135, 0.3); }

#contact .lg-heading {
  font-size: 4rem;
  text-align: center;
  margin-top: 9rem; }

#contact .contact-sm-heading {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Space Mono", cursive, sans-serif;
  font-weight: 100;
  line-height: 2;
  letter-spacing: 1px; }

#contact .contact-icons {
  margin-top: 3rem;
  text-align: center; }
  #contact .contact-icons a {
    margin: 7px; }
    #contact .contact-icons a i {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.815);
      padding: 10px;
      border-radius: 35px;
      font-size: 1rem;
      color: #444; }
  #contact .contact-icons #git:hover {
    color: #1a1a1a;
    transition: all 0.5s ease-out; }
  #contact .contact-icons #git i {
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 35px;
    font-size: 1rem;
    color: #fff; }
    #contact .contact-icons #git i:hover {
      color: #333;
      background-color: #fff;
      transition: all 0.5s ease-out; }
  #contact .contact-icons #linkedin:hover {
    color: #1a1a1a;
    transition: all 0.5s ease-out; }
  #contact .contact-icons #linkedin i {
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 35px;
    font-size: 1rem;
    color: #fff; }
    #contact .contact-icons #linkedin i:hover {
      color: #0077b5;
      background-color: #fff;
      transition: all 0.5s ease-out; }
  #contact .contact-icons #medium:hover {
    color: #00ab6c;
    transition: all 0.5s ease-out; }
  #contact .contact-icons #medium i {
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 35px;
    font-size: 1rem;
    color: #fff; }
    #contact .contact-icons #medium i:hover {
      color: #00ab6c;
      background-color: #fff;
      transition: all 0.5s ease-out; }
  #contact .contact-icons #gmail:hover {
    color: #ea4335;
    transition: all 0.5s ease-out; }
  #contact .contact-icons #gmail i {
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 35px;
    font-size: 1rem;
    color: #fff; }
    #contact .contact-icons #gmail i:hover {
      color: #ea4335;
      background-color: #fff;
      transition: all 0.5s ease-out; }

#bg-contact {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background-image: url(../img/bg_contact.jpg);
  background-attachment: fixed;
  background-size: cover; }
  #bg-contact:after {
    content: "";
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(51, 51, 51, 0.3); }

#bg-portfolio {
  background-color: #fff; }
  #bg-portfolio #portfolio {
    height: 100vh;
    background-image: url(../img/bg_portfolio_2.jpg);
    background-size: cover; }
    #bg-portfolio #portfolio .portfolio-intro h2 {
      margin-top: 15rem;
      margin-left: 10rem;
      margin-bottom: 0;
      font-size: 5rem; }
    #bg-portfolio #portfolio .portfolio-intro h3 {
      font-size: 1.5rem;
      margin-top: 0.1rem;
      margin-left: 10rem; }
    #bg-portfolio #portfolio .portfolio-intro a {
      margin-left: 10rem;
      margin-top: 2rem; }
    #bg-portfolio #portfolio .button {
      border-style: solid;
      border-width: 1px;
      border-color: #f38654;
      color: white;
      padding: 10px 25px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer; }
      #bg-portfolio #portfolio .button:hover {
        background-color: #f38654;
        color: black;
        transition: all 0.5s ease-out; }
    #bg-portfolio #portfolio .portfolio-divider {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      padding-left: 10rem; }
      #bg-portfolio #portfolio .portfolio-divider .portfolio-divider-inside {
        border-top: solid;
        border-width: 1px;
        width: 70px;
        color: white; }
  #bg-portfolio .portfolio-bio {
    border-top-style: solid;
    border-color: #727270;
    width: 100%;
    height: 101vh;
    background-image: url(../img/bg_bio_4.jpg); }
    #bg-portfolio .portfolio-bio .portfolio-outer-box {
      background-color: #fff;
      background-size: cover;
      height: 500px;
      width: 1000px;
      margin-left: 10rem;
      margin-top: 5rem;
      box-shadow: 5px 5px 10px black;
      border-left-style: solid;
      border-width: 40px;
      border-color: #eeeeee; }
      #bg-portfolio .portfolio-bio .portfolio-outer-box h2,
      #bg-portfolio .portfolio-bio .portfolio-outer-box h3,
      #bg-portfolio .portfolio-bio .portfolio-outer-box p {
        color: #27303b; }
      #bg-portfolio .portfolio-bio .portfolio-outer-box h2 {
        font-family: "Space Mono", monospace, sans-serif;
        font-size: 64px;
        border-color: black;
        margin-bottom: 0;
        width: 400px;
        margin-top: 2rem;
        margin-left: 2rem;
        color: #eb613d; }
      #bg-portfolio .portfolio-bio .portfolio-outer-box h3 {
        font-family: "Space Mono", monospace, sans-serif;
        border-color: black;
        font-size: 20.8px;
        margin: 0;
        margin-left: 2rem;
        width: 400px; }
      #bg-portfolio .portfolio-bio .portfolio-outer-box p {
        font-family: "Space Mono", monospace, sans-serif;
        font-size: 16; }
      #bg-portfolio .portfolio-bio .portfolio-outer-box .portfolio-bio-right-para {
        position: absolute;
        right: 0;
        top: 49rem;
        margin-right: 250px;
        width: 400px; }
      #bg-portfolio .portfolio-bio .portfolio-outer-box .portfolio-bio-left-para {
        width: 400px;
        margin-left: 2rem;
        right: 0; }
    #bg-portfolio .portfolio-bio .portfolio-projects {
      border-top-style: solid;
      border-color: #f0f0f0;
      background-color: #f0f0f0;
      margin-top: 5rem;
      height: 210vh; }
      #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-heading {
        width: 600px;
        color: #27303b;
        letter-spacing: 1px;
        word-spacing: 0;
        font-family: "Space Mono", monospace, sans-serif;
        border-color: black;
        margin-top: 5rem;
        font-size: 45px;
        margin-left: 220px;
        font-weight: 700;
        letter-spacing: 0;
        word-spacing: 0; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-heading span {
          color: #f38654; }
      #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid {
        border-color: black;
        display: grid;
        margin-left: 220px;
        margin-top: 3rem;
        width: 880px;
        height: 1000px;
        grid-template-areas: "proj1 proj2" "proj3 proj4";
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 60px; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid img {
          width: 400px; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-1,
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-2,
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-3,
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-4 {
          width: 400px;
          background-color: white;
          border-color: black;
          box-shadow: 2px 2px 7px grey;
          border-bottom-style: solid;
          border-color: #f5976c;
          border-width: 10px;
          border-radius: 4px; }
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-1 h4,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-2 h4,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-3 h4,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-4 h4 {
            color: #a3afbf;
            font-family: "Noto Sans JP", sans-serif;
            font-size: 12px;
            font-weight: 600;
            margin-left: 1rem;
            margin-bottom: 0; }
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-1 a,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-2 a,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-3 a,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-4 a {
            font-family: "Raleway", sans-serif;
            font-size: 23px;
            font-weight: 700;
            color: #27303b;
            margin-left: 1rem;
            margin-top: 0; }
            #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-1 a:hover,
            #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-2 a:hover,
            #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-3 a:hover,
            #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-4 a:hover {
              text-decoration: underline;
              cursor: pointer; }
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-1 p,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-2 p,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-3 p,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-4 p {
            color: #526173;
            font-family: "Space Mono", monospace, sans-serif;
            font-size: 15px;
            font-weight: 400;
            margin-left: 1rem;
            margin-bottom: 1rem; }
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-1:hover,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-2:hover,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-3:hover,
          #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-4:hover {
            box-shadow: 15px 15px 10px 3px grey;
            transition: all 0.5s ease-out; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-1 {
          grid-area: proj1; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-2 {
          grid-area: proj2; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-3 {
          grid-area: proj3; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-project-grid .portfolio-project-4 {
          grid-area: proj4; }
      #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-more-proj-btn {
        border-style: solid;
        border-width: 1px;
        border-color: #f38654;
        color: black;
        padding: 10px 25px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 6.5rem;
        margin-left: 36.4rem; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-more-proj-btn a {
          color: #27303b;
          font-size: 16px;
          font-weight: 600; }
        #bg-portfolio .portfolio-bio .portfolio-projects .portfolio-more-proj-btn:hover {
          background-color: #f38654;
          color: white;
          box-shadow: 10px 10px 10px grey;
          transition: all 0.5s ease-out; }

.portfolio-skills {
  border-top-style: solid;
  border-color: #f5f7f9;
  border-bottom-color: blueviolet;
  background-image: url(../img/bg_skills.jpg);
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  height: 101vh;
  margin-top: 86.1rem; }
  .portfolio-skills .portfolio-skills-outer-box {
    background-color: #fff;
    height: 500px;
    width: 1000px;
    margin-left: 10rem;
    margin-top: 5rem;
    box-shadow: 5px 5px 10px black;
    border-left-style: solid;
    border-width: 40px;
    border-color: #eeeeee; }
    .portfolio-skills .portfolio-skills-outer-box h2,
    .portfolio-skills .portfolio-skills-outer-box h3,
    .portfolio-skills .portfolio-skills-outer-box p {
      color: #27303b; }
    .portfolio-skills .portfolio-skills-outer-box h2 {
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 64px;
      border-color: black;
      margin-bottom: 0;
      width: 400px;
      margin-top: 2rem;
      margin-left: 2rem;
      color: #eb613d; }
    .portfolio-skills .portfolio-skills-outer-box h3 {
      font-family: "Space Mono", monospace, sans-serif;
      border-color: black;
      font-size: 20.8px;
      margin: 0;
      margin-left: 2rem;
      width: 400px; }
    .portfolio-skills .portfolio-skills-outer-box p {
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 16; }
    .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para {
      position: absolute;
      right: 0;
      top: 184rem;
      margin-right: 250px;
      width: 400px;
      color: #27303b;
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 16;
      display: grid;
      grid-template-areas: "heading heading" "left-skills right-skills";
      grid-template-columns: 200px 200px; }
      .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para h3 {
        padding: 0;
        margin: 0;
        grid-area: heading; }
      .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para .ulist-1 {
        grid-area: left-skills; }
      .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para .ulist-2 {
        grid-area: right-skills; }
      .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para .ulist-1,
      .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para .ulist-2 {
        list-style-type: disc;
        border-color: green;
        color: #27303b;
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 0; }
        .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para .ulist-1 li,
        .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-right-para .ulist-2 li {
          margin-right: 0px;
          font-family: "Space Mono", monospace, sans-serif;
          font-size: 16; }
    .portfolio-skills .portfolio-skills-outer-box .portfolio-skills-left-para {
      width: 400px;
      margin-top: 2rem;
      margin-left: 3rem;
      right: 0; }

.footer-1 {
  background-color: #27303b;
  text-align: center;
  border-style: solid;
  border-color: #27303b;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0; }
  .footer-1 p {
    margin: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #27303b;
    letter-spacing: 1px; }
  .footer-1 #footer-icon {
    color: #99a3e8; }

.footer-2 {
  background-color: #4b5e6a;
  border-color: #4b5e6a;
  border-style: solid;
  text-align: center; }
  .footer-2 p {
    font-size: 12px; }
