//laptops 1281px
@include laptops {
}

// 1025px
@include bigTablets {
}

// 961px
@include tablets {
  #bg-portfolio {
    #portfolio {
      .portfolio-intro {
        h2 {
          font-size: 9vh;
        }
        h3 {
          font-size: 3.5vh;
        }
      }
    }
    .portfolio-bio {
      .portfolio-outer-box {
        * {
          //border-style: solid;
        }
        width: 80vw;
        //border-left: 2vh;
        border-width: 15px;
        p {
          font-size: 2vh;
        }
        //width: 100%;
        h2 {
          font-size: 8vh;
        }
        .portfolio-bio-para-grid {
          //grid-template-areas: "head" "para1" "para2";
          //grid-template-columns: repeat(1, 1fr);
          //grid-column-gap: 0;

          h3.portfolio-bio-top-heading {
            //grid-area: head;
            font-size: 4vh;
            margin-left: 2vw;
          }
          .portfolio-bio-left-para {
            //grid-area: para1;
            font-size: 2vh;
            padding-right: 2vw;
            margin-left: 2vw;
          }
          .portfolio-bio-right-para {
            //grid-area: para2;
            margin-left: 2vw;
            padding-right: 2vw;
          }
        }
      }
    }
    .portfolio-projects {
      .portfolio-project-heading {
        font-size: 5vh;
      }
      .portfolio-project-table {
        width: 100%;
        padding: 5vw;
        //border-style: solid;
        .portfolio-project-grid {
          width: 100%;
          //grid-template-areas: "proj1" "proj2" "proj3" "proj4";
          //grid-template-columns: repeat(1, 1fr);
          grid-gap: 5vh;

          .portfolio-project-1 {
            width: 100%;
            //grid-area: proj1;
          }
          .portfolio-project-2 {
            width: 100%;
            //grid-area: proj2;
          }
          .portfolio-project-3 {
            width: 100%;
            //grid-area: proj3;
          }
          .portfolio-project-4 {
            width: 100%;
            //grid-area: proj4;
          }
        }
      }
      .portfolio-btn {
        .portfolio-more-proj-btn {
          padding: 5px 12px;
          a {
            font-size: 14px;
          }
        }
      }
    }
    .portfolio-skills {
      .portfolio-skills-outer-box {
        padding-top: 1vh;
        border-width: 15px;
        p {
          font-size: 2vh;
        }
        width: 80vw;
        h2 {
          font-size: 7vh;
        }
        .portfolio-skills-para-grid {
          //grid-template-areas: "head" "para1" "para2";
          //grid-template-columns: repeat(1, 1fr);
          //grid-column-gap: 0;

          .portfolio-skills-para-head {
            //grid-area: head;
            font-size: 3vh;
            margin-left: 2vw;
          }
          .portfolio-skills-left-para {
            //grid-area: para1;
            padding-right: 2vw;
            margin-left: 2vw;
            font-size: 2vh;
          }
          .portfolio-skills-right-para {
            //grid-area: para2;
            margin-left: 2vw;
            padding-right: 2vw;
            font-size: 2vh;
            h3 {
              font-size: 3vh;
            }
            .ulist-1,
            .ulist-2 {
              margin-top: 2vh;
            }
          }
        }
      }
    }

    .footer-1 {
      font-size: 3vh;
      font-weight: 0;
    }
    .footer-2 {
      p {
        font-size: 2.5vh;
      }
    }
  }
}

//--------------------------------641--------------------------
//------------------------------------------------------------
@include portraitTablets {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/profile_sm.jpg");
      width: 150px;
      height: 150px;
    }
  }
  #bg-img {
    * {
      //border-style: solid;
    }

    #home {
      .lg-heading {
        font-size: 4rem;
        padding: 0;
        margin-top: 22vh;
      }
      .sm-heading {
        width: 100%;
        font-size: 1.7rem;
      }
      .container {
        padding: 5px;
        h2 {
          font-size: 1rem;
        }
      }
      .divider {
        .divider-inside {
          width: 100px;
          height: 3px;
          //border-style: solid;
          //border-color: blue;
        }
      }
      .sm-para {
        font-size: 1rem;
        width: 100%;
      }
      .lg-icons {
        a {
          margin: 1.4rem;
          i {
            font-size: 1.5rem;
          }
        }
      }
      .lg-icons-name {
        //margin: 1rem;
        margin-top: 2px;
        span {
          margin: 0.4rem;
          font-size: 1rem;
        }
      }
    }
  }

  #bg-contact {
    * {
      //border-style: solid;
    }
    #contact {
      padding-top: 3vh;
      .contact-lg-heading {
        font-size: 4rem;
      }
      .contact-sm-heading {
        font-size: 1rem;
        margin-top: 6vh;
      }
      .contact-icons {
        a {
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  #bg-portfolio {
    #portfolio {
      * {
        //border-style: solid;
      }
      .portfolio-intro {
        h2 {
          margin-left: 0;
          width: 100%;
          font-size: 10vh;
          text-align: center;
        }
        h3 {
          margin-left: 0;
          text-align: center;
        }
        .portfolio-divider {
          padding-left: 0;
          display: flex;
          justify-content: center;
          .portfolio-divider-inside {
            text-align: center;
            margin-left: 0;
          }
        }
        .resume-btn {
          display: flex;
          justify-content: center;
          padding-left: 0;
          .button {
            font-size: 15px;
            margin-left: 0;
          }
        }
      }
    }

    .portfolio-bio {
      .portfolio-outer-box {
        * {
          //border-style: solid;
        }
        //border-left: 2vh;
        border-width: 15px;
        p {
          font-size: 2vh;
        }
        width: 100%;
        h2 {
          font-size: 8vh;
        }
        .portfolio-bio-para-grid {
          //grid-template-areas: "head" "para1" "para2";
          //grid-template-columns: repeat(1, 1fr);
          //grid-column-gap: 0;

          h3.portfolio-bio-top-heading {
            //grid-area: head;
            font-size: 3vh;
            margin-left: 2vh;
          }
          .portfolio-bio-left-para {
            //grid-area: para1;
            padding-right: 2vw;
            margin-left: 2vw;
          }
          .portfolio-bio-right-para {
            //grid-area: para2;
            margin-left: 2vw;
            padding-right: 2vw;
          }
        }
      }
    }
    .portfolio-projects {
      .portfolio-project-heading {
        font-size: 5vh;
      }
      .portfolio-project-table {
        width: 100%;
        padding: 5vw;
        //border-style: solid;
        .portfolio-project-grid {
          width: 100%;
          //grid-template-areas: "proj1" "proj2" "proj3" "proj4";
          //grid-template-columns: repeat(1, 1fr);
          grid-gap: 5vh;

          .portfolio-project-1 {
            width: 100%;
            //grid-area: proj1;
          }
          .portfolio-project-2 {
            width: 100%;
            //grid-area: proj2;
          }
          .portfolio-project-3 {
            width: 100%;
            //grid-area: proj3;
          }
          .portfolio-project-4 {
            width: 100%;
            //grid-area: proj4;
          }
        }
      }
      .portfolio-btn {
        .portfolio-more-proj-btn {
          padding: 5px 12px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .portfolio-skills {
    .portfolio-skills-outer-box {
      padding-top: 1vh;
      border-width: 15px;
      p {
        font-size: 2vh;
      }
      width: 100%;
      h2 {
        font-size: 5vh;
      }
      .portfolio-skills-para-grid {
        //grid-template-areas: "head" "para1" "para2";
        //grid-template-columns: repeat(1, 1fr);
        //grid-column-gap: 0;

        .portfolio-skills-para-head {
          //grid-area: head;
          font-size: 3vh;
          margin-left: 2vh;
        }
        .portfolio-skills-left-para {
          //grid-area: para1;
          padding-right: 2vw;
          margin-left: 2vw;
        }
        .portfolio-skills-right-para {
          //grid-area: para2;
          margin-left: 2vw;
          padding-right: 2vw;
          h3 {
            font-size: 3vh;
          }
        }
      }
    }
  }

  .footer-1 {
    font-size: 3vh;
    font-weight: 0;
  }
  .footer-2 {
    p {
      font-size: 2.5vh;
    }
  }
}

//------------------------------------------------------481px--------------------------
//-------------------------------------------------------------------------------------
@include smallerTablets {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/profile_sm.jpg");
      width: 150px;
      height: 150px;
    }
  }
  #bg-img {
    * {
      //border-style: solid;
    }
    #home {
      .lg-heading {
        font-size: 2.7rem;
        padding: 0;
        margin-top: 22vh;
      }
      .sm-heading {
        width: 100%;
        font-size: 1.3rem;
      }
      .container {
        padding: 5px;
        h2 {
          font-size: 0.8rem;
        }
      }
      .divider {
        .divider-inside {
          width: 100px;
          height: 3px;
          //border-style: solid;
          //border-color: blue;
        }
      }
      .sm-para {
        font-size: 0.8rem;
        width: 100%;
      }
      .lg-icons {
        a {
          margin: 1.4rem;
          i {
            font-size: 1.5rem;
          }
        }
      }
      .lg-icons-name {
        //margin: 1rem;
        margin-top: 2px;
        span {
          margin: 0.4rem;
          font-size: 1rem;
        }
      }
    }
  }

  #bg-contact {
    * {
      //border-style: solid;
    }
    #contact {
      padding-top: 3vh;
      .contact-lg-heading {
        font-size: 4rem;
      }
      .contact-sm-heading {
        font-size: 1rem;
        margin-top: 6vh;
      }
      .contact-icons {
        a {
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  #bg-portfolio {
    #portfolio {
      * {
        //border-style: solid;
      }
      .portfolio-intro {
        h2 {
          margin-left: 0;
          width: 100%;
          font-size: 8vh;
          text-align: center;
        }
        h3 {
          margin-left: 0;
          text-align: center;
        }
        .portfolio-divider {
          padding-left: 0;
          display: flex;
          justify-content: center;
          .portfolio-divider-inside {
            text-align: center;
            margin-left: 0;
          }
        }
        .resume-btn {
          display: flex;
          justify-content: center;
          padding-left: 0;
          .button {
            font-size: 12px;
            margin-left: 0;
          }
        }
      }
    }

    .portfolio-bio {
      .portfolio-outer-box {
        * {
          //border-style: solid;
        }
        //border-left: 2vh;
        border-width: 15px;
        p {
          font-size: 2vh;
        }
        width: 100%;
        h2 {
          font-size: 6vh;
        }
        .portfolio-bio-para-grid {
          grid-template-areas: "head" "para1" "para2";
          grid-template-columns: repeat(1, 1fr);
          grid-column-gap: 0;

          h3.portfolio-bio-top-heading {
            grid-area: head;
            font-size: 3vh;
            margin-left: 2vh;
          }
          .portfolio-bio-left-para {
            grid-area: para1;
            padding-right: 2vw;
            margin-left: 2vw;
          }
          .portfolio-bio-right-para {
            grid-area: para2;
            margin-left: 2vw;
            padding-right: 2vw;
          }
        }
      }
    }
    .portfolio-projects {
      .portfolio-project-heading {
        font-size: 5vh;
      }
      .portfolio-project-table {
        width: 100%;
        padding: 5vw;
        //border-style: solid;
        .portfolio-project-grid {
          width: 100%;
          grid-template-areas: "proj1" "proj2" "proj3" "proj4";
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 10vh;

          .portfolio-project-1 {
            width: 100%;
            grid-area: proj1;
          }
          .portfolio-project-2 {
            width: 100%;
            grid-area: proj2;
          }
          .portfolio-project-3 {
            width: 100%;
            grid-area: proj3;
          }
          .portfolio-project-4 {
            width: 100%;
            grid-area: proj4;
          }
        }
      }
      .portfolio-btn {
        .portfolio-more-proj-btn {
          padding: 5px 12px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .portfolio-skills {
    .portfolio-skills-outer-box {
      padding-top: 1vh;
      border-width: 15px;
      p {
        font-size: 2vh;
      }
      width: 100%;
      h2 {
        font-size: 5vh;
      }
      .portfolio-skills-para-grid {
        grid-template-areas: "head" "para1" "para2";
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;

        .portfolio-skills-para-head {
          grid-area: head;
          font-size: 3vh;
          margin-left: 2vh;
        }
        .portfolio-skills-left-para {
          grid-area: para1;
          padding-right: 2vw;
          margin-left: 2vw;
        }
        .portfolio-skills-right-para {
          grid-area: para2;
          margin-left: 2vw;
          padding-right: 2vw;
          h3 {
            font-size: 3vh;
          }
        }
      }
    }
  }

  .footer-1 {
    font-size: 2vh;
    font-weight: 0;
  }
  .footer-2 {
    p {
      font-size: 2vh;
    }
  }
}

//--------------------------------------------320px------------------------------
//-------------------------------------------------------------------------------
@include smartPhones {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/profile_sm.jpg");
      width: 150px;
      height: 150px;
    }
  }
  #bg-img {
    * {
      //border-style: solid;
    }
    #home {
      .lg-heading {
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
        margin-top: 23vh;
      }
      .sm-heading {
        font-size: 1.3rem;
        width: 100%;
      }
      .container {
        width: 100%;
        padding: 0;
        h2 {
          font-size: 0.8rem;
          width: 100%;
        }
      }
      .divider {
        .divider-inside {
          width: 100px;
        }
      }
      .sm-para {
        font-size: 0.8rem;
      }
      .lg-icons {
        a {
          margin: 1.2rem;
          i {
            font-size: 1.3rem;
          }
        }
      }
      .lg-icons-name {
        //margin: 1rem;
        margin-top: 2px;
        span {
          margin: 0.3rem;
          font-size: 0.9rem;
        }
      }
    }
  }

  #bg-contact {
    * {
      //border-style: solid;
    }
    #contact {
      padding-top: 3vh;
      .contact-lg-heading {
        font-size: 3rem;
      }
      .contact-sm-heading {
        font-size: 0.8rem;
        margin-top: 10vh;
      }
    }
  }

  #bg-portfolio {
    #portfolio {
      * {
        //border-style: solid;
      }
      .portfolio-intro {
        h2 {
          margin-left: 0;
          width: 100%;
          font-size: 8vh;
          text-align: center;
        }
        h3 {
          margin-left: 0;
          text-align: center;
        }
        .portfolio-divider {
          padding-left: 0;
          display: flex;
          justify-content: center;
          .portfolio-divider-inside {
            text-align: center;
            margin-left: 0;
          }
        }
        .resume-btn {
          display: flex;
          justify-content: center;
          padding-left: 0;
          .button {
            font-size: 12px;
            margin-left: 0;
          }
        }
      }
    }

    .portfolio-bio {
      .portfolio-outer-box {
        * {
          //border-style: solid;
        }
        //border-left: 2vh;
        border-width: 15px;
        p {
          font-size: 2vh;
        }
        width: 100%;
        h2 {
          font-size: 6vh;
        }
        .portfolio-bio-para-grid {
          grid-template-areas: "head" "para1" "para2";
          grid-template-columns: repeat(1, 1fr);
          grid-column-gap: 0;

          h3.portfolio-bio-top-heading {
            grid-area: head;
            font-size: 3vh;
            margin-left: 2vh;
          }
          .portfolio-bio-left-para {
            grid-area: para1;
            padding-right: 2vw;
            margin-left: 2vw;
          }
          .portfolio-bio-right-para {
            grid-area: para2;
            margin-left: 2vw;
            padding-right: 2vw;
          }
        }
      }
    }
    .portfolio-projects {
      .portfolio-project-heading {
        font-size: 5vh;
      }
      .portfolio-project-table {
        width: 100%;
        padding: 5vw;
        //border-style: solid;
        .portfolio-project-grid {
          width: 100%;
          grid-template-areas: "proj1" "proj2" "proj3" "proj4";
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 10vh;

          .portfolio-project-1 {
            width: 100%;
            grid-area: proj1;
          }
          .portfolio-project-2 {
            width: 100%;
            grid-area: proj2;
          }
          .portfolio-project-3 {
            width: 100%;
            grid-area: proj3;
          }
          .portfolio-project-4 {
            width: 100%;
            grid-area: proj4;
          }
        }
      }
      .portfolio-btn {
        .portfolio-more-proj-btn {
          padding: 5px 12px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .portfolio-skills {
    .portfolio-skills-outer-box {
      padding-top: 1vh;
      border-width: 15px;
      p {
        font-size: 2vh;
      }
      width: 100%;
      h2 {
        font-size: 5vh;
      }
      .portfolio-skills-para-grid {
        grid-template-areas: "head" "para1" "para2";
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;

        .portfolio-skills-para-head {
          grid-area: head;
          font-size: 3vh;
          margin-left: 2vh;
        }
        .portfolio-skills-left-para {
          grid-area: para1;
          padding-right: 2vw;
          margin-left: 2vw;
        }
        .portfolio-skills-right-para {
          grid-area: para2;
          margin-left: 2vw;
          padding-right: 2vw;
          h3 {
            font-size: 3vh;
          }
        }
      }
    }
  }

  .footer-1 {
    font-size: 2vh;
    font-weight: 0;
  }
  .footer-2 {
    p {
      font-size: 2vh;
    }
  }

  #bg-resume {
    * {
      //border-style: solid;
    }
    #resume {
      .resume-main-grid {
        display: grid;
        grid-template-areas: "left1" "right1" "right2";
        grid-template-columns: repeat(1, 1fr);
        .resume-main-grid-left {
          grid-area: left1;
          width: 100%;
          .resume-main-grid-left-image-container {
            h2,
            p {
              padding-left: 10vw;
            }
          }
          .resume-left-divider {
            margin-bottom: 3vh;
            .resume-left-divider-inside {
              width: 65vw;
            }
          }
          .resume-main-grid-left-skills {
            padding-left: 10vw;
          }
        }
        .resume-main-grid-right-1 {
          grid-area: right1;
          .work {
            font-size: 5vh;
          }
          .resume-main-grid-right-1-experience-grid {
            h2 {
              font-size: 2.5vh;
            }
            h4 {
              font-size: 1.8vh;
            }
          }
        }
        .resume-main-grid-right-2 {
          grid-area: right2;
        }
      }
    }
  }
}
