@import "config";
@import "menu";
@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");
@import url("https://fonts.googleapis.com/css?family=Calistoga");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
  font-weight: 400;
  //border-style: solid;
  //border-color: white;
}
header {
  //border-style: solid;
  position: fixed;
  z-index: 2;
  width: 100%;
}
//--------------------------------------home page -----------------------------------

#bg-img {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;

  .lg-heading {
    //border-style: solid;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 3.8rem;
    //margin-top: 0;
    //margin-left: 3rem;
    padding: 0;
    text-align: center;
    font-family: "Cantarell", sans-serif;
    //font-family: "Raleway", sans-serif;
    font-weight: 800;

    span {
      color: $secondary-color;
      font-weight: 700;
      font-family: "Raleway", sans-serif;
    }
  }

  .divider {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;

    .divider-inside {
      border-top: solid;
      border-width: 1px;
      //border-bottom: solid;
      width: 350px;
      color: darken($color: grey, $amount: 15);
    }
  }

  a {
    //color: #fff;
    text-decoration: none;
  }

  .text-secondary {
    color: $secondary-color;
  }

  #home {
    //border-style: solid;
    //padding: 1rem;
    //padding-right: 4rem;
    height: 100vh;
    //background-color: #fff;
    //border-color: #0077b5;
    //border-style: dashed;
    .home-container {
      position: relative;
      .left-container {
        //border-style: solid;
        //width: 50vw;
        * {
          padding: 0;
          margin: 0;
          //border-style: solid;
        }
        position: absolute;
        left: 19.3vw;
        top: 10vh;
        //z-index: 2;

        .left-container-heading {
          //border-style: solid;
          position: relative;
          //top: 20vh;
          left: 0;
          margin-bottom: 0;
          padding-bottom: 0;
          .lg-heading {
            //margin-top: 0;
            //padding-top: 0;
            //padding-bottom: 1vh;
            //margin-bottom: 7vh;
            font-size: 9rem;
            font-weight: 1000;
            //color: #000;
            //border-style: solid;
            //background: linear-gradient(
            //to right,
            //#fff 0%,
            //#fff 63%,
            //#000 63%,
            //#000 100%
            //);
            span {
              color: #000;
            }
          }
        }
        .left-container-heading-2 {
          position: relative;
          bottom: 5vh;
          //border-style: solid;
          .lg-heading-2 {
            display: flex;
            font-size: 30px;
            font-family: "Dancing Script";
            align-items: center;
            text-align: center;
            span {
              //color: #000;
              color: #000;
            }

            &::after,
            &::before {
              content: "";
              flex: 1;
              border-bottom: 1px solid #fff;
            }

            &::after {
              margin-left: 0.25em;
            }
            &::before {
              margin-left: 0.25em;
            }
          }
        }
      }
      .right-container {
        //background-color: #fff;
        background-image: url(../img/image.jpg);
        background-size: cover;
        width: 60vw;
        height: 100vh;
        z-index: -1;
        position: absolute;
        //top: 20vh;
        left: 35vw;
      }
      .right-container-front {
        //border-style: solid;
        position: absolute;
        left: 35vw;
        width: 60vw;
        height: 100vh;
        .right-container-small-heading {
          position: relative;
          top: 17vh;
          //font-size: 5rem;
          //border-style: solid;
          .sm-heading {
            margin-top: 0;
            //padding: 0;
            color: #000;
            margin-bottom: 1rem;
            font-weight: 500;
            //width: 400px;
            //margin-left: 30rem;
            text-align: center;
            font-size: 3rem;
            font-weight: 500;
            font-family: "Raleway", sans-serif;
          }
        }
        .right-container-text {
          position: relative;
          top: 18vh;
          .container {
            //border-style: solid;
            display: flex;
            flex-direction: column;
            //justify-content: center;
            text-align: center;
            //height: 100%;
            padding: 0 3rem;

            h2 {
              //padding-left: 15rem;
              //border-style: solid;
              font-weight: 700;
              //margin: 0.8rem;
              color: #000;
              font-size: 1rem;
              font-family: "Raleway", sans-serif;
              word-spacing: 2px;
              letter-spacing: 1px;
            }
          }
        }
        .right-container-small-para {
          position: relative;
          top: 23vh;
          .sm-para {
            text-align: center;
            font-weight: 700;
            //font-family: "Patrick Hand", cursive;
            font-family: "Raleway", sans-serif;
            word-spacing: 2px;
            letter-spacing: 1.5px;
            line-height: 1.7;
            color: #000;
            span {
              //color: #000;
              a {
                text-decoration: underline;
                cursor: pointer;
                color: #000;
              }
            }
          }
        }
        .lg-icons-name {
          border-style: solid;
          //margin-top: 3px;
          position: relative;
          top: 31vh;
          //text-align: center;
          height: 30vh;
          //display: flex;

          a {
            border-style: solid;
            color: #fff;
            //border: 1px solid #000;
            //background-color: #000;
            padding: 7px 10px 7px 10px;
            //margin: 3rem;
            //color: #fff;
            font-size: 15px;
            font-family: "Cantarell";
            display: flex;
            //text-align: center;

            box-shadow: 10px 10px 10px #000;
            &:hover {
              background-color: #000;
              cursor: pointer;
              color: #000;
              @include easeOut;
            }
          }
        }
      }
      .bottom-container {
        position: relative;
        top: 90vh;
      }
    }
    .lg-icons {
      //border-style: solid;
      margin-top: 2rem;
      text-align: center;

      a {
        //border-style: solid;
        margin: 2rem;
        margin-bottom: 0;
        margin-top: 1rem;
        &:hover {
          color: aqua;
          @include easeOut;
        }

        i {
          margin-bottom: 0;
          //border-style: solid;
          text-align: center;
          //border-style: solid;
          //background-color: #fff;
          padding: 0px;
          //border-radius: 35px
          font-size: 1.5rem;
          color: #fff;

          &:hover {
            color: darken(#b1e3fa, 10);
            //background-color: #fff;
            @include easeOut;
          }
        }
      }
    }

    &#home {
      overflow: hidden;
      h1 {
        margin-top: 20vh;
      }
    }
  }

  .txt-type > .txt {
    border-right: 0.2rem solid darken($primary-color, 5);
    color: $secondary-color;
  }
}

//#-------------------------------------------contact-----------------------------------

#bg-contact {
  * {
    //border-style: solid;
  }
  border-color: red;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background-image: url(../img/bg_contact.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    //display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgba(#333, 0.3);
  }

  #contact {
    //border-style: solid;
    padding: 0;
    margin: 0;
    .contact-lg-heading {
      font-size: 4rem;
      text-align: center;
      font-weight: 700;
      span {
        font-weight: 700;
        color: $secondary-color;
      }
    }

    .contact-sm-heading {
      //border-style: solid;
      margin-top: 1.5rem;
      text-align: center;
      font-size: 1rem;
      //font-family: "Comic Sans MS", cursive, sans-serif;
      font-family: "Space Mono", cursive, sans-serif;
      font-weight: 100;
      line-height: 2;
      letter-spacing: 1px;
    }
    .contact-icons {
      //margin-left: 3.5rem;
      //border-style: solid;
      margin-top: 3rem;
      text-align: center;

      a {
        margin: 2vh;
        //border-style: solid;
        //border-width: 0;
        i {
          text-align: center;
          //border-style: solid;
          background-color: darken($color: #333, $amount: 10);
          padding: 10px;
          border-radius: 35px;
          font-size: 1rem;
          color: #fff;
        }
      }

      #git {
        i {
          &:hover {
            color: #333;
            background-color: #fff;
            @include easeOut;
          }
        }
      }

      #linkedin {
        i {
          &:hover {
            color: #0077b5;
            background-color: #fff;
            @include easeOut;
          }
        }
      }

      #medium {
        i {
          &:hover {
            color: #00ab6c;
            background-color: #fff;
            @include easeOut;
          }
        }
      }

      #gmail {
        i {
          &:hover {
            color: #ea4335;
            background-color: #fff;
            @include easeOut;
          }
        }
      }
    }
    &#contact {
      overflow: hidden;
      h1 {
        margin-top: 20vh;
      }
    }
  }
}

/*----------------------------------portfolio---------------------------------
-----------------------------------------------------------------------
----------------------------------------------------------------------*/

#bg-portfolio {
  * {
    //border-style: solid;
  }
  background-color: #fff;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;

  #portfolio {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg_portfolio_2.jpg);
    background-size: cover;
    background-attachment: fixed;

    .portfolio-intro {
      //border-style: solid;
      h2 {
        margin-top: 35vh;
        //text-align: center;
        margin-left: 12vw;
        margin-bottom: 0;
        color: #fff;
        font-size: 12vh;
        span {
          color: $secondary-color;
        }
      }
      h3 {
        //border-style: solid;
        font-size: 4vh;
        margin-top: 2vh;
        margin-left: 12vw;
        color: #fff;
      }
      a {
        margin-left: 12vw;
        margin-top: 5vh;
        //border-style: solid;
      }
    }

    .button {
      //background-color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: #000;
      color: white;
      padding: 10px 25px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: #f38654;
        color: black;
        @include easeOut;
      }
    }

    .portfolio-divider {
      //border-style: solid;
      margin-top: 3vh;
      margin-bottom: 1rem;
      padding-left: 12vw;

      .portfolio-divider-inside {
        border-top: solid;
        border-width: 1px;
        //border-bottom: solid;
        width: 70px;
        color: white;
      }
    }
    &#portfolio {
      overflow: hidden;
      h1 {
        margin-top: 20vh;
      }
    }
  }

  .portfolio-bio {
    //border-top-style: solid;
    border-color: #727270;
    width: 100%;
    //height: 100vh;
    margin: 0;
    background-image: url(../img/bg_bio_4.jpg);
    //margin: auto;
    padding-bottom: 10vh;
    display: table;

    .portfolio-outer-box {
      background-color: #fff;
      background-size: cover;
      //border-color: green;
      //height: -4vw;
      //height: auto;
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12vh;
      border-left-style: solid;
      border-width: 40px;
      border-color: #eeeeee;
      padding-bottom: 5vh;

      h2,
      h3,
      p {
        color: #27303b;
      }

      h2 {
        font-family: "Space Mono", monospace, sans-serif;
        font-size: 64px;
        //border-style: solid;
        border-color: black;
        margin-bottom: 0;
        margin-top: 3vh;
        margin-left: 2vw;
        color: #eb613d;
        padding-bottom: 0;
        //color: #;
      }

      h3 {
        font-family: "Space Mono", monospace, sans-serif;
        //border-style: solid;
        border-color: black;
        font-size: 20.8px;
        margin: 0;
        margin-left: 2vw;
      }

      p {
        font-family: "Space Mono", monospace, sans-serif;
        font-size: 16;
      }

      .portfolio-bio-para-grid {
        margin-top: 0;
        //border-style: solid;
        display: grid;
        grid-template-areas: "head para2" "para1 para2";
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5vh;
        grid-row-gap: 0;

        .portfolio-bio-right-para {
          //border-style: solid;
          //width: 30vw;
          grid-area: para2;
          margin-top: 0;
        }
        h3 {
          grid-area: head;
          //border-style: solid;
        }

        .portfolio-bio-left-para {
          //border-style: solid;
          //width: 30vw;
          //margin-left: 2vw;
          //right: 0;
          margin-top: 0;
          margin-left: 2vw;
          grid-area: para1;
        }
      }
    }
  }

  .portfolio-projects {
    //border-top-style: solid;
    border-color: #f5f7f9;
    background-color: #f5f7f9;
    //margin-top: 5rem;
    margin: 0;
    //height: 214vh;
    width: 100%;
    display: table;

    .portfolio-project-heading {
      color: #27303b;
      //font-family: "Space Mono", monospace, sans-serif;
      border-color: black;
      font-size: 8vh;
      font-weight: 1000;
      letter-spacing: 0;
      word-spacing: 0;
      //margin-left: auto;
      text-align: center;

      span {
        color: #f38654;
        letter-spacing: 0;
        word-spacing: 0;
        font-weight: 1000;
        text-align: center;
      }
    }

    .portfolio-project-table {
      //border-style: solid;
      display: table;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    .portfolio-project-grid {
      //border-style: solid;
      border-color: black;
      display: grid;
      //margin-left: 30vh;
      //margin-left: 20%;
      //margin-right: auto;
      margin: auto;
      margin-top: 0.3vh;
      width: 63vw;
      margin-bottom: 4vh;
      //height: 170vh;
      grid-template-areas: "proj1 proj2" "proj3 proj4";
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3vw;

      img {
        width: 100%;
        padding: 0;
      }

      .portfolio-project-1,
      .portfolio-project-2,
      .portfolio-project-3,
      .portfolio-project-4 {
        width: 30vw;
        background-color: white;
        border-color: black;
        box-shadow: 4px 4px 7px grey;
        border-bottom-style: solid;
        border-color: lighten($color: #f38654, $amount: 5);
        border-width: 10px;
        border-radius: 4px;
        //opacity: 0.9;

        .portfolio-project-1-sm-box,
        .portfolio-project-2-sm-box,
        .portfolio-project-3-sm-box,
        .portfolio-project-4-sm-box {
          padding-left: 2vw;
          //border-style: solid;
        }

        h4 {
          color: #a3afbf;
          font-family: "Noto Sans JP", sans-serif;
          //font-family: "Raleway", sans-serif;
          font-size: 2vh;
          font-weight: 600;
          //margin-left: 1rem;
          margin-bottom: 0;
        }

        a {
          //font-family: "Noto Sans JP", sans-serif;
          //border-style: solid;
          font-family: "Raleway", sans-serif;
          font-size: 3.5vh;
          font-weight: 700;
          color: #27303b;
          //margin-left: 1rem;
          margin-top: 0;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        p {
          color: #526173;
          font-family: "Space Mono", monospace, sans-serif;
          font-size: 2.5vh;
          font-weight: 400;
          //margin-left: 1rem;
          margin-bottom: 1rem;
        }

        &:hover {
          box-shadow: 15px 15px 10px 3px grey;
          //opacity: 1;
          @include easeOut;
        }
      }

      .portfolio-project-1 {
        grid-area: proj1;
      }
      .portfolio-project-2 {
        grid-area: proj2;
      }
      .portfolio-project-3 {
        grid-area: proj3;
      }
      .portfolio-project-4 {
        grid-area: proj4;
      }
    }

    .portfolio-btn {
      margin: auto;
      display: table;
    }

    .portfolio-more-proj-btn {
      //background-color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: #f38654;
      color: black;
      padding: 10px 25px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 4vh;
      margin-bottom: 8vh;
      //margin-left: 90vh;

      a {
        color: #27303b;
        font-size: 16px;
        font-weight: 600;
      }

      &:hover {
        background-color: #f38654;
        color: white;
        box-shadow: 10px 10px 10px grey;
        @include easeOut;
      }
    }
  }
}

.portfolio-skills {
  * {
    //border-style: solid;
  }

  //border-top-style: solid;
  //border-color: #f5f7f9;
  //border-bottom-color: blueviolet;
  background-image: url(../img/bg_skills.jpg);
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  //height: 100vh;
  padding-bottom: 5vh;
  display: table;

  .portfolio-skills-outer-box {
    background-color: #fff;
    //height: 75vh;
    width: 70vw;
    margin-bottom: 10vh;
    //margin-left: 12vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    //box-shadow: 5px 5px 10px black;
    border-left-style: solid;
    border-width: 40px;
    border-color: #eeeeee;
    padding-bottom: 5vh;

    h2,
    h3,
    p {
      color: #27303b;
    }

    h2 {
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 64px;
      //border-style: solid;
      border-color: black;
      margin-bottom: 0;
      //width: 400px;
      margin-top: 3vh;
      margin-left: 2vw;
      color: #eb613d;
    }

    h3 {
      font-family: "Space Mono", monospace, sans-serif;
      //border-style: solid;
      border-color: black;
      font-size: 20.8px;
      margin: 0;
      margin-left: 2vw;
      //width: 400px;
    }

    p {
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 16;
    }

    .portfolio-skills-para-grid {
      margin: 0;
      display: grid;
      grid-template-areas: "head para2" "para1 para2";
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 3vw;
      grid-row-gap: 5vh;

      .portfolio-skills-right-para {
        * {
          //border-style: solid;
        }
        grid-area: para2;
        margin-top: 0;
        //border-style: solid;
        //background-color: aqua;
        //width: 400px;
        color: #27303b;
        font-family: "Space Mono", monospace, sans-serif;
        font-size: 16;
        display: grid;
        grid-template-areas:
          "heading heading"
          "left-skills right-skills"
          "left-skills right-skills"
          "left-skills right-skills"
          "left-skills right-skills";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        h3 {
          padding: 0;
          margin: 0;
          grid-area: heading;
          padding: 1vh;
          //border-style: solid;
        }

        .ulist-1 {
          grid-area: left-skills;
        }

        .ulist-2 {
          grid-area: right-skills;
        }

        .ulist-1,
        .ulist-2 {
          padding-left: 2vw;
          //border-style: solid;
          list-style-type: disc;
          border-color: green;
          color: #27303b;
          margin-bottom: 0;
          margin-top: 0;
          padding-right: 0;

          li {
            margin-right: 0px;
            font-family: "Space Mono", monospace, sans-serif;
            font-size: 16;
          }
        }
      }

      .portfolio-skills-para-head {
        grid-area: head;
      }

      .portfolio-skills-left-para {
        grid-area: para1;
        //border-style: solid;
        //width: 400px;
        margin-top: 0;
        margin-left: 2vw;
        //margin-top: 2rem;
        //right: 0;
      }
    }
  }
}

.footer-1 {
  background-color: #27303b;
  text-align: center;
  //border-color: green;
  border-style: solid;
  border-color: #27303b;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  p {
    margin: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #27303b;
    letter-spacing: 1px;
    color: #fff;
  }

  #footer-icon {
    color: #99a3e8;
    //color: #ff1500af;
  }
}

.footer-2 {
  background-color: #4b5e6a;
  border-color: #4b5e6a;
  border-style: solid;
  text-align: center;

  p {
    font-size: 12px;
    color: #fff;
  }
}

//----------------------------------------------resume--------------------------
//--------------------------------------------------------------------------

#bg-resume {
  * {
    //border-style: solid;
  }
  background-color: darken($color: #f5f7f9, $amount: 20);
  //background-image: url(../img/bg_portfolio_2.jpg);
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;

  #resume {
    //height: 100vh;
    width: 100%;
    //background-color: #f5f7f9;

    .resume-main-grid {
      padding-left: 1vw;
      padding-right: 1vw;
      padding-top: 2vh;
      display: grid;
      grid-template-areas: "left1 right1 right1" "left1 right2 right2";
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3vh;

      .resume-main-grid-left,
      .resume-main-grid-right-1,
      .resume-main-grid-right-2 {
        background-color: white;
        box-shadow: 10px 10px 7px grey;
      }

      .resume-main-grid-left {
        grid-area: left1;
        color: #fff;
        background-color: darken($color: #15aabf, $amount: 20);

        .resume-main-grid-left-image-container {
          img {
            width: 100%;
          }
          .resume-main-grid-left-image-container-sm-box {
            //background-color: red;
            padding-left: 1.5vw;
            h2 {
              font-size: 5vh;
              margin-bottom: 0;
              font-weight: 700;
              span {
                color: #f38654;
                font-weight: 700;
              }
            }
            p {
              //border-style: solid;
              margin-top: 4vh;
              //font-size: 3vh;
              font-family: "Space Mono", monospace, sans-serif;
              font-weight: 500;
              font-size: 2.7vh;
              line-height: 1;
              i {
                &:hover {
                  color: #f38654;
                  @include easeOut;
                }
              }
            }
          }
        }
        .resume-main-grid-left-skills {
          display: grid;
          grid-template-areas: "skill-head skillhead" "list1 list2";
          grid-template-columns: repeat(2, 1fr);
          padding: 2vw;
          font-size: 3vh;
          margin-top: 0;
          //border-style: solid;
          padding-top: 0;

          h2 {
            font-size: 5vh;
            grid-area: skill-head;
            margin-bottom: 0;
            padding-top: 0;
            margin-top: 0;
            font-weight: 700;
          }

          .ulist-1 {
            grid-area: list1;
            font-family: "Space Mono", monospace, sans-serif;
          }
          .ulist-2 {
            grid-area: list2;
            font-family: "Space Mono", monospace, sans-serif;
          }
        }

        .resume-left-divider {
          //border-style: solid;
          //border-width: 3px;
          //border-color: #333;
          width: 100%;
          margin-bottom: 2vh;
          display: table;
          justify-content: center;
          margin-top: 6vh;
          margin-bottom: 6vh;

          .resume-left-divider-inside {
            border-bottom-style: solid;
            border-color: #fff;
            width: 25vw;
            margin-left: auto;
            margin-right: auto;
            border-width: 0.5px;
          }
        }
      }
      .resume-main-grid-right-1 {
        //background-image: url(../img/bg_portfolio.jpg);
        //background-color: red;
        grid-area: right1;
        border-right-style: solid;
        border-width: 10px;
        border-color: darken($color: #15aabf, $amount: 20);
        p {
          //font-family: "Noto Sans", sans-serif;
          font-family: "Space Mono", monospace, sans-serif;
          font-weight: 400;
          font-size: 2.5vh;
        }

        h2,
        p,
        h4 {
          padding-left: 2vw;
        }
        .work {
          font-size: 5vh;
          //border-style: solid;
          margin-bottom: 0;
          span {
            color: #f38654;
          }
        }
        .resume-main-grid-right-1-experience-grid {
          margin-top: 0;
          //border-style: solid;
          padding-top: 0;
          h2 {
            font-size: 3vh;
          }
          .resume-main-grid-right-1-experience-1 {
            //border-style: solid;
            h2 {
              //border-style: solid;
              margin-top: 3vh;
              margin-bottom: 0;
              color: #27303b;
              font-weight: 1000;
            }
            h4 {
              margin-top: 1vh;
              margin-bottom: 0;
              span {
                background-color: #f38654;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 3px;
                padding-top: 3px;
                color: #fff;
                border-radius: 5px;
              }
            }
            p {
              //border-style: solid;
              margin-top: 2vh;
            }
          }
          .resume-main-grid-right-1-experience-2 {
            h2 {
              //border-style: solid;
              margin-top: 3vh;
              margin-bottom: 0;
              color: #27303b;
              font-weight: 1000;
            }
            h4 {
              margin-top: 1vh;
              margin-bottom: 0;
            }
            p {
              //border-style: solid;
              margin-top: 2vh;
            }
          }
          .resume-main-grid-right-1-experience-3 {
            margin-bottom: 7vh;
            h2 {
              //border-style: solid;
              margin-top: 3vh;
              margin-bottom: 0;
              color: #27303b;
              font-weight: 1000;
            }
            h4 {
              margin-top: 1vh;
              margin-bottom: 0;
              span {
                background-color: #f38654;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 3px;
                padding-top: 3px;
                color: #fff;
                border-radius: 5px;
              }
            }
            p {
              //border-style: solid;
              margin-top: 2vh;
            }
          }
        }

        .resume-right-divider {
          //border-style: solid;
          //border-width: 3px;
          //border-color: #333;
          width: 100%;
          margin-bottom: 2vh;
          display: table;
          justify-content: center;
          margin-top: 6vh;
          margin-bottom: 6vh;

          .resume-right-divider-inside {
            border-bottom-style: solid;
            border-color: #333;
            width: 60vw;
            margin-left: auto;
            margin-right: auto;
            border-width: 0.5px;
          }
        }
      }
      .resume-main-grid-right-2 {
        grid-area: right2;
        border-right-style: solid;
        border-width: 10px;
        border-color: darken($color: #15aabf, $amount: 20);
        //border-color: darken($color: #f38654, $amount: 10);
        //border-color: #f38654;
        p {
          font-family: "Space Mono", monospace, sans-serif;
          font-weight: 400;
          font-size: 2.5vh;
        }

        .edu {
          font-size: 6vh;
          margin-bottom: 0;
          span {
            color: #f38654;
          }
        }

        h2,
        h4,
        p {
          padding-left: 2vw;
        }
        .resume-main-grid-right-2-experience-grid {
          margin-top: 0;
          //border-right-style: solid;
          .resume-main-grid-right-2-experience-1 {
            h2 {
              //border-style: solid;
              margin-top: 3vh;
              margin-bottom: 0;
              color: #27303b;
              font-weight: 1000;
              font-size: 3vh;
            }
            h4 {
              margin-top: 1vh;
              margin-bottom: 0;
            }
            p {
              //border-style: solid;
              margin-top: 2vh;
            }
          }
          .resume-main-grid-right-2-experience-2 {
            h2 {
              //border-style: solid;
              margin-top: 3vh;
              margin-bottom: 0;
              color: #27303b;
              font-weight: 1000;
              font-size: 3vh;
            }
            h4 {
              margin-top: 1vh;
              margin-bottom: 0;
            }
            p {
              //border-style: solid;
              margin-top: 2vh;
            }
            margin-bottom: 8vh;
          }
        }
        .resume-right-divider {
          //border-style: solid;
          //border-width: 3px;
          //border-color: #333;
          width: 100%;
          margin-bottom: 2vh;
          display: table;
          justify-content: center;
          margin-top: 6vh;
          margin-bottom: 6vh;

          .resume-right-divider-inside {
            border-bottom-style: solid;
            border-color: #333;
            width: 60vw;
            margin-left: auto;
            margin-right: auto;
            border-width: 0.5px;
          }
        }
      }
    }
  }
  .footer-1 {
    margin-top: 5vh;
    width: 100%;
  }
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0px 0 5px 0px;
      //background: darken($color: #15aabf, $amount: 10);f38654
      background: darken($color: #f38654, $amount: 10);
      @include easeOut;
    }

    //rotate into x
    &.close {
      transform: rotate(180deg);

      .btn-line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.98;
    visibility: hidden;

    &.show {
      visibility: visible;
    }

    &-branding,
    &-nav {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      float: left;
      width: 50%;
      height: 100vh;
      overflow: hidden;
    }

    &-nav {
      //border-style: solid;
      padding: 0;
      margin: 0;
      align-items: stretch;
      justify-content: center;
      text-align: center;
      background: darken($primary-color, 5);
      list-style: none;
      transform: translate3d(0, -100%, 0);
      @include easeOut;

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    &-branding {
      background: $primary-color;
      @include easeOut;
      transform: translate3d(0, 100%, 0);

      &.show {
        transform: translate3d(0, 0, 0);
      }

      .portrait {
        width: 250px;
        height: 250px;
        background: url("../img/profile_md.jpg");
        border-color: $secondary-color;
        border-radius: 50%;
        background-size: cover;
        border-style: solid;
      }
    }

    .nav-item {
      transform: translate3d(600px, 0, 0);
      //border-style: solid;
      @include easeOut;

      &.show {
        transform: translate3d(0, 0, 0);
      }

      &.current {
        a {
          color: $secondary-color;
          //color: #000;
        }
      }

      &:hover {
        background-color: darken($primary-color, 10);
        color: $secondary-color;
        //color: $secondary-color;
        //background-color: red;
        cursor: pointer;
        @include easeOut;
      }
    }

    .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      @include easeOut;

      &:hover {
        color: $secondary-color;
        //color: red;
      }
    }
  }

  @for $x from 1 through 3 {
    .nav-item:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }
}

@import "mobile";
