@import "config";
@import "menu";
@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");
@import url("https://fonts.googleapis.com/css?family=Calistoga");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
  font-weight: 400;
  //border-style: solid;
  //border-color: black;
}

//--------------------------------------home page -----------------------------------
body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

.lg-heading {
  //border-style: solid;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 3.8rem;
  //margin-top: 0;
  //margin-left: 3rem;
  padding: 0;
  text-align: center;
  //font-family: "Calistoga", sans-serif;
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  span {
    color: $secondary-color;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }
}

.divider {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;

  .divider-inside {
    border-top: solid;
    border-width: 1px;
    //border-bottom: solid;
    width: 350px;
    color: darken($color: grey, $amount: 10);
  }
}

.sm-para {
  text-align: center;
  font-weight: 400;
  //font-family: "Patrick Hand", cursive;
  font-family: "Space Mono", cursive, sans-serif;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  line-height: 1.7;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  //border-style: solid;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  //border-style: solid;
  padding: 1rem;
  padding-right: 4rem;
  height: 100%;

  .lg-icons {
    //border-style: solid;
    margin-top: 2rem;
    text-align: center;

    a {
      //border-style: solid;
      margin: 2rem;
      margin-bottom: 0;
      margin-top: 1rem;
      &:hover {
        color: aqua;
        @include easeOut;
      }

      i {
        margin-bottom: 0;
        //border-style: solid;
        text-align: center;
        //border-style: solid;
        //background-color: #fff;
        padding: 0px;
        //border-radius: 35px
        font-size: 1.5rem;
        color: #fff;
      }
    }
    .fa-folder-open-o {
      &:hover {
        color: #f38654;
        //background-color: #fff;
        @include easeOut;
      }
    }
    .fa-file-pdf-o {
      &:hover {
        color: #f38654;
        //background-color: #fff;
        @include easeOut;
      }
    }
    .fa-weixin {
      font-size: 1.5rem;
      margin: 0;
      padding: 0rem;
      &:hover {
        color: #f38654;
        //background-color: #fff;
        @include easeOut;
      }
    }
  }

  .lg-icons-name {
    //border-style: solid;
    margin-top: 3px;
    text-align: center;

    span {
      margin: 1rem;
      color: #fff;
      font-size: 15px;
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  .sm-heading {
    margin-top: 0;
    //padding: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    //width: 400px;
    //margin-left: 30rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }
}

.container {
  //border-style: solid;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 3rem;

  h2 {
    //padding-left: 15rem;
    //border-style: solid;
    font-weight: 500;
    margin: 0.8rem;
    font-size: 1.1rem;
    font-family: "Space Mono", cursive, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
  }
}

.txt-type > .txt {
  border-right: 0.2rem solid darken($primary-color, 5);
  color: $secondary-color;
}

#bg-resume {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background-image: url(../img/bg_resume_2.jpg);
  //background-color: $primary-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &:after {
    content: "";
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(rgb(145, 135, 135), 0.3);
  }
}

//#-------------------------------------------contact-----------------------------------

#contact {
  //border-style: solid;
  .contact-lg-heading {
    font-size: 4rem;
    //border-style: solid;
    text-align: center;
    margin-top: 25vh;
  }

  .contact-sm-heading {
    //border-style: solid;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
    //font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: "Space Mono", cursive, sans-serif;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 1px;
  }
  .contact-icons {
    //margin-left: 3.5rem;
    //border-style: solid;
    margin-top: 3rem;
    text-align: center;

    a {
      margin: 2vh;

      i {
        text-align: center;
        //border-style: solid;
        background-color: darken($color: #333, $amount: 10);
        padding: 10px;
        border-radius: 35px;
        font-size: 1rem;
        color: #fff;
      }
    }

    #git {
      i {
        &:hover {
          color: #333;
          background-color: #fff;
          @include easeOut;
        }
      }
    }

    #linkedin {
      i {
        &:hover {
          color: #0077b5;
          background-color: #fff;
          @include easeOut;
        }
      }
    }

    #medium {
      i {
        &:hover {
          color: #00ab6c;
          background-color: #fff;
          @include easeOut;
        }
      }
    }

    #gmail {
      i {
        &:hover {
          color: #ea4335;
          background-color: #fff;
          @include easeOut;
        }
      }
    }
  }
}

#bg-contact {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  background-image: url(../img/bg_contact.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: "";
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(#333, 0.3);
  }
}

#bg-portfolio {
  background-color: #fff;

  #portfolio {
    height: 100vh;
    background-image: url(../img/bg_portfolio_2.jpg);
    background-size: cover;

    .portfolio-intro {
      //border-style: solid;

      h2 {
        margin-top: 35vh;
        margin-left: 10rem;
        margin-bottom: 0;
        //border-style: solid;
        font-size: 12vh;
      }
      h3 {
        //border-style: solid;
        font-size: 4vh;
        margin-top: 0.1rem;
        margin-left: 10rem;
      }
      a {
        margin-left: 10rem;
        margin-top: 2rem;
        //border-style: solid;
      }
    }

    .button {
      //background-color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: #f38654;
      color: white;
      padding: 10px 25px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: #f38654;
        color: black;
        @include easeOut;
      }
    }

    .portfolio-divider {
      //border-style: solid;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      padding-left: 10rem;

      .portfolio-divider-inside {
        border-top: solid;
        border-width: 1px;
        //border-bottom: solid;
        width: 70px;
        color: white;
      }
    }
  }

  .portfolio-bio {
    border-top-style: solid;
    border-color: #727270;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../img/bg_bio_4.jpg);
    margin: auto;
    display: table;

    .portfolio-outer-box {
      background-color: #fff;
      background-size: cover;
      //border-color: green;
      height: 75vh;
      width: 150vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12vh;
      box-shadow: 5px 5px 10px black;
      border-left-style: solid;
      border-width: 40px;
      border-color: #eeeeee;

      h2,
      h3,
      p {
        color: #27303b;
      }

      h2 {
        font-family: "Space Mono", monospace, sans-serif;
        font-size: 64px;
        //border-style: solid;
        border-color: black;
        margin-bottom: 0;
        width: 400px;
        margin-top: 2rem;
        margin-left: 2rem;
        color: #eb613d;
        //color: #;
      }

      h3 {
        font-family: "Space Mono", monospace, sans-serif;
        //border-style: solid;
        border-color: black;
        font-size: 20.8px;
        margin: 0;
        margin-left: 2rem;
        width: 400px;
      }

      p {
        font-family: "Space Mono", monospace, sans-serif;
        font-size: 16;
      }

      .portfolio-bio-right-para {
        position: relative;
        top: -63vh;
        left: 75vh;
        margin-right: 250px;
        width: 400px;
      }

      .portfolio-bio-left-para {
        //border-style: solid;
        width: 400px;
        margin-left: 2rem;
        right: 0;
      }
    }
  }

  .portfolio-projects {
    border-top-style: solid;
    border-color: #f5f7f9;
    background-color: #f5f7f9;
    //margin-top: 5rem;
    margin: 0;
    height: 214vh;
    width: 100%;
    display: table;

    .portfolio-project-heading {
      color: #27303b;
      font-family: "Space Mono", monospace, sans-serif;
      border-color: black;
      font-size: 8vh;
      font-weight: 700;
      letter-spacing: 0;
      word-spacing: 0;
      text-align: center;

      span {
        color: #f38654;
      }
    }

    .portfolio-project-table {
      //border-style: solid;
      display: table;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }

    .portfolio-project-grid {
      //border-style: solid;
      border-color: black;
      display: grid;
      //margin-left: 30vh;
      //margin-left: 20%;
      //margin-right: auto;
      margin: auto;
      margin-top: 3vh;
      width: 130vh;
      height: 170vh;
      grid-template-areas: "proj1 proj2" "proj3 proj4";
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10vh;

      img {
        width: 60vh;
      }

      .portfolio-project-1,
      .portfolio-project-2,
      .portfolio-project-3,
      .portfolio-project-4 {
        width: 60vh;
        background-color: white;
        border-color: black;
        box-shadow: 2px 2px 7px grey;
        border-bottom-style: solid;
        border-color: lighten($color: #f38654, $amount: 5);
        border-width: 10px;
        border-radius: 4px;

        h4 {
          color: #a3afbf;
          font-family: "Noto Sans JP", sans-serif;
          //font-family: "Raleway", sans-serif;
          font-size: 2vh;
          font-weight: 600;
          margin-left: 1rem;
          margin-bottom: 0;
        }

        a {
          //font-family: "Noto Sans JP", sans-serif;
          font-family: "Raleway", sans-serif;
          font-size: 3.5vh;
          font-weight: 700;
          color: #27303b;
          margin-left: 1rem;
          margin-top: 0;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        p {
          color: #526173;
          font-family: "Space Mono", monospace, sans-serif;
          font-size: 2.5vh;
          font-weight: 400;
          margin-left: 1rem;
          margin-bottom: 1rem;
        }

        &:hover {
          box-shadow: 15px 15px 10px 3px grey;
          @include easeOut;
        }
      }

      .portfolio-project-1 {
        grid-area: proj1;
      }
      .portfolio-project-2 {
        grid-area: proj2;
      }
      .portfolio-project-3 {
        grid-area: proj3;
      }
      .portfolio-project-4 {
        grid-area: proj4;
      }
    }

    .portfolio-btn {
      margin: auto;
      display: table;
    }

    .portfolio-more-proj-btn {
      //background-color: #fff;
      border-style: solid;
      border-width: 1px;
      border-color: #f38654;
      color: black;
      padding: 10px 25px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 4vh;
      //margin-left: 90vh;

      a {
        color: #27303b;
        font-size: 16px;
        font-weight: 600;
      }

      &:hover {
        background-color: #f38654;
        color: white;
        box-shadow: 10px 10px 10px grey;
        @include easeOut;
      }
    }
  }
}

.portfolio-skills {
  border-top-style: solid;
  border-color: #f5f7f9;
  border-bottom-color: blueviolet;
  background-image: url(../img/bg_skills.jpg);
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
  height: 100vh;
  margin: auto;
  display: table;

  .portfolio-skills-outer-box {
    background-color: #fff;
    height: 75vh;
    width: 150vh;
    //margin-left: 12vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    box-shadow: 5px 5px 10px black;
    border-left-style: solid;
    border-width: 40px;
    border-color: #eeeeee;

    h2,
    h3,
    p {
      color: #27303b;
    }

    h2 {
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 64px;
      //border-style: solid;
      border-color: black;
      margin-bottom: 0;
      width: 400px;
      margin-top: 2rem;
      margin-left: 2rem;
      color: #eb613d;
    }

    h3 {
      font-family: "Space Mono", monospace, sans-serif;
      //border-style: solid;
      border-color: black;
      font-size: 20.8px;
      margin: 0;
      margin-left: 2rem;
      width: 400px;
    }

    p {
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 16;
    }

    .portfolio-skills-right-para {
      //border-style: solid;
      //background-color: aqua;
      position: relative;
      top: -55vh;
      left: 75vh;
      width: 400px;
      color: #27303b;
      font-family: "Space Mono", monospace, sans-serif;
      font-size: 16;
      display: grid;
      grid-template-areas:
        "heading heading"
        "left-skills right-skills";
      grid-template-columns: 200px 200px;

      h3 {
        padding: 0;
        margin: 0;
        grid-area: heading;
      }

      .ulist-1 {
        grid-area: left-skills;
      }

      .ulist-2 {
        grid-area: right-skills;
      }

      .ulist-1,
      .ulist-2 {
        list-style-type: disc;
        border-color: green;
        color: #27303b;
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 0;

        li {
          margin-right: 0px;
          font-family: "Space Mono", monospace, sans-serif;
          font-size: 16;
        }
      }
    }

    .portfolio-skills-left-para {
      //border-style: solid;
      width: 400px;
      margin-top: 2rem;
      margin-left: 3rem;
      //margin-top: 2rem;
      right: 0;
    }
  }
}

.footer-1 {
  background-color: #27303b;
  text-align: center;
  //border-color: green;
  border-style: solid;
  border-color: #27303b;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  p {
    margin: 1rem;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #27303b;
    letter-spacing: 1px;
  }

  #footer-icon {
    color: #99a3e8;
  }
}

.footer-2 {
  background-color: #4b5e6a;
  border-color: #4b5e6a;
  border-style: solid;
  text-align: center;

  p {
    font-size: 12px;
  }
}

@import "mobile";
